<%= form_for(blog, html:{multipart: "true"}) do |f| %>
    <div class="row Kpadding Kmargin">
        <div class="col-md-6 Kpadding" style="max-width:500px">
            <div class="Ktexture ts Kmargin Jsquare">
                <img class="Klocation lcc lm lmg Jt" <%=@src%>>
                <div class="Klocation lcc">
                    <label for="blog_photo" class="btn btn-default btn-block waves-effect kakao_color">Choose Photo</label>
                    <%= f.file_field :photo, class: "hidden Jpreview"%>
                </div>
            </div>
        </div>
    </div>
    <div class="row Kmargin">
        <div class="col-md-6 Kpadding Ktexture ts" style="max-width:500px">
            <%= f.text_area :content, class: "tinymce_area"%>
        </div>
    </div>

    <%= f.button do%>
        <div class="Kmargin mb Klocation lc lb lf Kshape sbutton1 sc Ktexture ts kakao_color">
            <h3 class="Kmargin Klocation lcc" align="center" style="color:white"><strong>밥 등록</strong></h3>
        </div>
    <% end %>
<% end %>
