<div class="row Kpadding pr pl pt pb">
    <h1>Meal Archive</h1>
</div>

<% @blogs.each do |blog| %>
<div class="row Kpadding Kmargin mb">
    <div class="col-md-8 Kpadding" style="max-width:550px">
        <div class="Ktexture ts Kmargin Jsquare">
            <% if blog.photo.file.nil? %>
                <h1 align="center" class="Kmargin Klocation lcc">NO IMG</h1>
            <% else %>
                <img class="Klocation lcc lmg" src="<%= blog.photo %>">
            <% end %>
        </div>
        <div class="Ktexture ts Kpadding pr pl pt pb white">
            <%== blog.content %>
        </div>
    </div>
    <div class="col-md -d1d5 Kpadding Kmargin ml" style="max-width:100px;">
        <div class="Kshape scc Ktexture ts Klocation la lmg white Jsquare Jbottom Aspin_blog_button" align="center">
            <div class="naver_color At">
                <div class="white"></div>
            </div>
            <div class="Klocation la lcc">
                <h4 style="color: #53B391"><strong><%= link_to 'Edit', edit_blog_path(blog) %></strong></h4>
                <p></p>
                <h5 style="color: #53B391"><%= link_to 'delete', blog, method: :delete %></h5>
            </div>
        </div>
    </div>
</div>
<div class="row row-md-1"></div>
<% end %>

<div class="row row-md-1"></div> 
<div class="row row-md-1"></div> 
<%= link_to new_blog_path do %>
    <div class="Kmargin mb Klocation lc lb lf Kshape sbutton1 sc Ktexture ts naver_color">
        <div class="naver_color"></div>
        <h3 class="Kmargin Klocation lcc" align="center" style="color:white"><strong>New 밥</strong></h3>
    </div>
<% end %>
