<!DOCTYPE html>
<html>
<head>
<title>TeamBlog</title>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag    'application', media: 'all' %>
<%= stylesheet_link_tag    "_controller/"+params[:controller] %>
<%= javascript_include_tag 'application' %>
<%= javascript_include_tag "_controller/"+params[:controller] %>
</head>

<body class="default_color" style="overflow: scroll">
<%= render partial: 'layouts/parts/navbar', layout: false %>
<div style="min-width:992px">
	<div style="min-width:250px;width:20%;max-width:300px;height:30px;float:left;visibility:hidden;"></div>
	<div class="container-fluid" style="min-width:742px;width:74%;float:left">
<%= yield %>                
	</div>
</div>
</body>
<script>

    <% @scripts = [] if defined?(@scripts) == nil %>
    <% @scripts.each do |script| %>
    <%==script%>
    <% end %>

</script>
</html>
