<%= form_for(@freeboard) do |f| %>
  <% if @freeboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@freeboard.errors.count, "error") %> prohibited this freeboard from being saved:</h2>

      <ul>
      <% @freeboard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
      <%= f.text_field :content %>
    <%= f.submit %>
  </div>
<% end %>

<script src="//cloud.tinymce.com/stable/tinymce.min.js"></script>
<script>tinymce.init({ selector:'#freeboard_content' });</script>
